
<div class=" d-flex justify-content-between" style="margin-top: 10px;">
  <ul class="breadcrumbone">
    <li>
      <a href="#">
        <span class="text">Test</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="text">Quản lý sổ kho</span>
      </a>
    </li>
    <li>
      <a routerLink="/">
        <i class="bi bi-house"></i>
      </a>
    </li>
  </ul>  
  <div class="">
      <div class="">
          <a data-action="create-import" href="javascript:void(0)" class="btn btn-success btn-sm"><i class="flaticon2-plus"></i> Nhập kho</a>
          <a data-action="create-export" href="javascript:void(0)" class="btn btn-info btn-sm"><i class="flaticon-logout"></i> Xuất kho</a>
          <a data-action="edit" href="javascript:void(0)" class="btn btn-danger btn-sm"><i class="flaticon2-pen"></i> Chỉnh sửa</a>
          <a data-action="deletes" href="javascript:void(0)" class="btn btn-primary btn-sm"><i class="flaticon-delete"></i> Xóa (Đã chọn)</a>
          <a data-action="export" href="javascript:void(0)" class="btn btn-secondary btn-sm"><i class="flaticon2-printer"></i> Xuất Excel</a>
      </div>
  </div>
</div>
<div style="width: 100%; height: 80%; ">
  <as-split direction="horizontal">
    <as-split-area [size]="10">
      <p>LEFT</p>
    </as-split-area>
    <as-split-area [size]="90">
      <p>RIGHT</p>
    </as-split-area>
  </as-split>
</div>