<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row style="background-size: cover;
    background-repeat: no-repeat;justify-content: space-between;background-image: url(../../../assets/img/header-bg.jpg);">
      
      <div style="display: flex;">
        <a href="/" class="">
          <!---->
          <img src="../../../assets/img/logo.png" height="37px" style="margin-top: 10px;margin-right: 10px;" title="Home"
            alt="Home" class="">
          <!---->
        </a>
        <a class="link-icon">
          <mat-icon class="icon-link" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          Trang chủ
        </a>
        <a class="link-icon">
          <mat-icon class="icon-link" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          Quản lý kho
        </a>
        <a class="link-icon">
          <mat-icon class="icon-link" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          Kiểm kê kho
        </a>
        <a class="link-icon">
          <mat-icon class="icon-link" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          Danh mục
        </a>
        <a class="link-icon">
          <mat-icon class="icon-link" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          Báo cáo
        </a>
      </div>
      <div style="display:flex">
        <a class="link-icon">
          <mat-icon class="icon-link" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          Danh mục
        </a>
        <a class="link-icon">
          <mat-icon class="icon-link" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          Báo cáo
        </a>
      </div>

    </mat-toolbar-row>


  </mat-toolbar>
</header>