/* You can add global styles to this file, and also import other style files */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-notifier/styles";
@import '~@angular/cdk/overlay-prebuilt.css';
html, body { 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden; 
}
    .page-container {
        height: 100%;
    }
    
    .page-container {
        margin: 0;
        padding: 0;
        position: relative;
    }
    .page-container .page-content-wrapper .page-content .page-data {
        position: relative;
        height: 100%;
        padding-top: 40px;
    }

thead[role=rowgroup]{
    position: sticky;
    top: 0px;
    z-index: 999;
}
.mat-paginator {
    position: absolute;
    bottom: 0;
}
.d-none-0{
    display: none;
}
  
a{
    text-decoration: none;
    cursor: pointer;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

/* Success syling */

.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #5cb85c;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #5cb85c;
}

.mat-icon-button.mat-success {
  color:#5cb85c;
}
input.form-control,select{
    height: 28px !important;
    font-size: 12.9px !important;
}
select{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.form-label {
   
    font-size: 12px;
}
.dateselect .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 !important;
    background-color: white !important;
  }
  .dateselect .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}
.mat-raised-button{
    line-height: 32px !important;
    padding: 0px 7px !important;
    font-size: 11px !important;
  }