<div mat-dialog-title>{{title}}</div>
<div>
  <form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group d-none">
      <mat-label class="form-label">Id</mat-label>
      <input type="text" formControlName="id" class="form-control" /> 
    </div>
    <div class="form-group row mb-1">
      <mat-label class="form-label col-3">Tên</mat-label>
      <input type="text" formControlName="name" class="form-control col" /> 
    </div>
    <div class="form-group row mb-1">
      <mat-label class="form-label col-3">Code</mat-label>
      <input type="text" formControlName="code" class="form-control col" /> 
    </div>
    <div class="form-group row mb-1" style="position: relative;">
      <mat-label class="form-label col-3">Thuộc kho</mat-label>
      <select formControlName="parentId" class="form-select col">
        <option class="s-c option" *ngFor="let state of listDropDown.data" [ngValue]="state.id">
        {{ state.name }}
        </option>
    </select>
    <!-- <div id="app-cover" class="col">
      <div id="select-box">
        <input type="checkbox" id="options-view-button">
        <div id="select-button" class="brd">
          <div id="selected-value">
            <span>Select a platform</span>
          </div>
          <div id="chevrons">
            <i class="fas fa-chevron-up"></i>
            <i class="fas fa-chevron-down"></i>
          </div>
        </div>
        <div id="options">
          <div class="option">
            <input class="s-c top" type="radio" name="platform" value="codepen">
            <input class="s-c bottom" type="radio" name="platform" value="codepen">
            <i class="fab fa-codepen"></i>
            <span class="label">CodePen</span>
            <span class="opt-val">CodePen</span>
          </div>
          <div class="option">
            <input class="s-c top" type="radio" name="platform" value="dribbble">
            <input class="s-c bottom" type="radio" name="platform" value="dribbble">
            <i class="fab fa-dribbble"></i>
            <span class="label">Dribbble</span>
            <span class="opt-val">Dribbble</span>
          </div>
          <div class="option">
            <input class="s-c top" type="radio" name="platform" value="behance">
            <input class="s-c bottom" type="radio" name="platform" value="behance">
            <i class="fab fa-behance"></i>
            <span class="label">Behance</span>
            <span class="opt-val">Behance</span>
          </div>
          <div class="option">
            <input class="s-c top" type="radio" name="platform" value="hackerrank">
            <input class="s-c bottom" type="radio" name="platform" value="hackerrank">
            <i class="fab fa-hackerrank"></i>
            <span class="label">HackerRank</span>
            <span class="opt-val">HackerRank</span>
          </div>
          <div class="option">
            <input class="s-c top" type="radio" name="platform" value="stackoverflow">
            <input class="s-c bottom" type="radio" name="platform" value="stackoverflow">
            <i class="fab fa-stack-overflow"></i>
            <span class="label">StackOverflow</span>
            <span class="opt-val">StackOverflow</span>
          </div>
          <div class="option">
            <input class="s-c top" type="radio" name="platform" value="freecodecamp">
            <input class="s-c bottom" type="radio" name="platform" value="freecodecamp">
            <i class="fab fa-free-code-camp"></i>
            <span class="label">FreeCodeCamp</span>
            <span class="opt-val">FreeCodeCamp</span>
          </div>
          <div id="option-bg"></div>
        </div>
      </div>
    </div> -->

    </div>
    <div class="form-group row mb-1">
      <mat-label class="form-label col-3">Địa chỉ</mat-label>
      <textarea type="text" formControlName="address" class="form-control col"></textarea>
    </div>
    <div class="form-group row mb-1">
      <mat-label class="form-label col-3">Mô tả</mat-label>
      <input type="text" formControlName="description" class="form-control col" /> 
    </div>
  
    <div class="form-group row mb-1 ">
      <mat-label class="form-label col-3 ">Trạng thái</mat-label>
      <mat-checkbox style="padding-left: 0;" class="example-margin col"formControlName="inactive"></mat-checkbox>
    </div>
    <div  style="margin-top: 10px;float: right;">
      <button type="submit" mat-button  mat-raised-button cdkFocusInitial color="primary">Save</button>
      <button style="margin-left: 20px;" mat-button type="button"  mat-raised-button  (click)="onNoClick()">Huỷ bỏ</button>
     
    </div>
  </form>
</div>

